version: "3.2"

services:
#MariaDB Container
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    env_file:
      - ./mariadb.env
    volumes:
      - db-data:/var/lib/mysql
    restart: always
    networks:
      - glpi-net
  
# PHP Admin
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_HOST=mariadb
    depends_on:
      - mariadb
    networks:
      - glpi-net

# GLPI Container
  glpi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: glpi
    ports:
      - "80:80"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TIMEZONE=Europe/Kyiv
    restart: always
    networks:
      - glpi-net

networks:
  glpi-net:
volumes:
  db-data: